<a href="https://colab.research.google.com/github/ibrarkhan6/IbrarKhan/blob/main/Chapter%203/Exercises/Chapter_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapter 3 (Data Structures) Exercises With Examples

Exercise 1: Names ☑️
Store the names of a few of your friends in a list called names. Print each person’s name by accessing each element in the list, one at a time.

In [ ]:
names= ["Ibrar", "Khan","Imran"]
print(names[0].title())
print(names[1].title())
print(names[2].title())

Ibrar
Khan
Imran

Exercise 2: Greetings ☑️
Start with the list you used in Exercise 1, but instead of just

printing each person’s name, print a message to them. The text of each message should be the same, but each message should be

personalized with the person’s name.

In [ ]:
names= ["Ibrar", "Khan","Imran"]
print("Hello nice to meet you,"+names[0].title()+".")
print("Hello nice to meet you,"+names[1].title()+".")
print("Hello nice to meet you,"+names[2].title()+".")

Hello nice to meet you,Ibrar.
Hello nice to meet you,Khan.
Hello nice to meet you,Imran.

Exercise 3: Your Own List ☑️
Think of your favorite mode of transportation, such as a motorcycle or a car, and make a list that stores several examples. Use your list

to print a series of statements about these items, such as “I would like to own a Honda motorcycle.”

In [ ]:
transport_modes= ["Car", "Bike","Train"]
print("I will buy a ,"+transport_modes[0].title()+".")
print("Tomorrow I will own a ,"+transport_modes[1].title()+".")
print("Someday I would like to own,"+transport_modes[2].title()+".")

I will buy a ,Car.
Tomorrow I will own a ,Bike.
Someday I would like to own,Train.

Exercise 4: Guest List ☑️
If you could invite anyone, living or deceased, to dinner, who would you invite? Make a list that includes at least three people you’d

like to invite  to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [ ]:
guest_list= ["Fahad","Faraz","Azeem","Tahir"]
print("Kindly visit our house tonight for a dinner,"+guest_list[0].title()+".")
print("Kindly visit our house tonight for a dinner,"+guest_list[1].title()+".")
print("Kindly visit our house tonight for a dinner,"+guest_list[2].title()+".")
print("Kindly visit our house tonight for a dinner,"+guest_list[3].title()+".")

Kindly visit our house tonight for a dinner,Fahad.
Kindly visit our house tonight for a dinner,Faraz.
Kindly visit our house tonight for a dinner,Azeem.
Kindly visit our house tonight for a dinner,Tahir.


Exercise 5: Change Guest List ☑️
You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite.

•Start with your program from Exercise 3-4. Add a print() call at the end of your program stating the name of the guest who can’t make it.

•Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting.

•Print a second set of invitation messages, one for each person who is still in your list.

In [ ]:
guest_list= ["Fahad","Faraz","Azeem","Tahir"]
print('Just got a call ' + guest_list [2]+ " will not be able to attened.")

guest_list[2]="Ryan"
print(guest_list)

print("Kindly note your invited for tonights dinner,"+guest_list[0].title()+".")
print("Kindly note your invited for tonights dinner,"+guest_list[1].title()+".")
print("Kindly note your invited for tonights dinner,"+guest_list[2].title()+".")
print("Kindly note your invited for tonights dinner,"+guest_list[3].title()+".")

Just got a call Azeem will not be able to attened.
['Fahad', 'Faraz', 'Ryan', 'Tahir']
Kindly note your invited for tonights dinner,Fahad.
Kindly note your invited for tonights dinner,Faraz.
Kindly note your invited for tonights dinner,Ryan.
Kindly note your invited for tonights dinner,Tahir.

Exercise 6: Shrinking Guest List ☑️
You just found out that your new dinner table won’t arrive in time for the dinner, and you have space for only two guests.

•Start with your program from Exercise 3-5. Add a new line that prints a message saying that you can invite only two people for dinner.

•Use pop() to remove guests from your list one at a time until only two names remain in your list. Each time you pop a name from your list, print a message to that person letting them know you’re sorry you can’t invite them to dinner.

•Print a message to each of the two people still on your list, letting them know they’re still invited.

•Use del to remove the last two names from your list, so you have an empty list. Print your list to make sure you actually have an empty list at

In [ ]:
guest_list= ["Fahad","Faraz","Azeem","Tahir"]
print("I am sorry to form you that I can only invite two people for tonights dinner as the dinner table have space only for two guests.")

print("Sorry my dear friend your not invited for tonights dinner,"+guest_list[3].title()+".")
guest_list.pop(3)
print(guest_list)

print("Sorry my dear friend your not invited for tonights dinner,"+guest_list[1].title()+".")
guest_list.pop(1)
print(guest_list)

print("Kindly note your still invited for tonights dinner,"+guest_list[0].title()+".")
print("Kindly note your still invited for tonights dinner,"+guest_list[1].title()+".")

del guest_list[:]
print("Guest List:",guest_list)

I am sorry to form you that I can only invite two people for tonights dinner as the dinner table have space only for two guests.
Sorry my dear friend your not invited for tonights dinner,Tahir.
['Fahad', 'Faraz', 'Azeem']
Sorry my dear friend your not invited for tonights dinner,Faraz.
['Fahad', 'Azeem']
Kindly note your still invited for tonights dinner,Fahad.
Kindly note your still invited for tonights dinner,Azeem.
Guest List: []

Exercise 7: Seeing the World ☑️
Think of at least five places in the world you’d like to visit. • Store the locations in a list. Make sure the list is not in alphabetical order.

• Print your list in its original order. Don’t worry about printing the list neatly,just print it as a raw Python list.

• Use sorted() to print your list in alphabetical order without modifying the actual list.

• Show that your list is still in its original order by printing it.

• Use sorted() to print your list in reverse alphabetical order without changing the order of the original list.

• Show that your list is still in its original order by printing it again.

• Use reverse() to change the order of your list. Print the list to show that its order has changed.

• Use reverse() to change the order of your list again. Print the list to show it’s back to its original order.

• Use sort() to change your list so it’s stored in alphabetical order. Print the list to show that its order has been changed.

• Use sort() to change your list so it’s stored in reverse alphabetical order. Print the list to show that its order has changed.

In [ ]:
places= ["Napoli","Tibet","Danube","Indus","Lithuania"]
print(places)
print('\n')

print(sorted(places))
print(places)

print('\n')

print(sorted(places,reverse=True))
print(places)

print('\n')

places = list(reversed(places))
print(places)

print('\n')

places = list(reversed(places))
print(places)

print('\n')

places.sort()
print(places)

places.sort(reverse=True)

['Napoli', 'Tibet', 'Danube', 'Indus', 'Lithuania']


['Danube', 'Indus', 'Lithuania', 'Napoli', 'Tibet']
['Napoli', 'Tibet', 'Danube', 'Indus', 'Lithuania']


['Tibet', 'Napoli', 'Lithuania', 'Indus', 'Danube']
['Napoli', 'Tibet', 'Danube', 'Indus', 'Lithuania']


['Lithuania', 'Indus', 'Danube', 'Tibet', 'Napoli']


['Napoli', 'Tibet', 'Danube', 'Indus', 'Lithuania']


['Danube', 'Indus', 'Lithuania', 'Napoli', 'Tibet']

Examples

In [ ]:
print(places)
a=int(input())
b=int(inpit())
sum=a+b
print("sum of " +str(a)+ " and "+str(b)+ " is " +str (sum))
diff=a-b
print("diff of " +str(a)+ " and "+str(b)+ " is " +str (diff))
multiplication=a*b
print("Multiplication of " +str(a)+ " and "+str(b)+ " is " +str (multiplication))
division=a/b
print("division of " +str(a)+ " and "+str(b)+ " is " +str (division))
modulus=a%b
print("modulus of " +str(a)+ " and "+str(b)+ " is " +str (modulus))
power=a**b
print("modulus of " +str(a)+ " and "+str(b)+ " is " +str (modulus))

enter two numbers
15
5
sum of 15 and 5 is 20
diff of 15 and 5 is 10
Multiplication of 15 and 5 is 75
division of 15 and 5 is 3.0
modulus of 15 and 5 is 0
modulus of 15 and 5 is 0

In [ ]:
m=50
ip=6

amount = int(m)/int(ip)
cost = int(amount)*int(ip)
change = int(m)-int(cost)

print("the amount of items you can buy is", int(amount))
print("your leftover change is",int(change))

the amount of items you can buy is 8
your leftover change is 2

In [ ]:
x1=5
y1=5
x2='Hello'
y2='Hello'
x3=[1,2,3]
y3=[1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

#Output: False
print(x3 is y3)

False
True
False

In [ ]:
age = 12
if age >= 20:
  print("Your are old enough to vote!")
else:
  # Executes if false
  print("sorry, you are too young to vote")

sorry, you are too young to vote

In [ ]:
date = input ("you wanna give daddy a car?")

if date =="yes":
   print("ooo ye dadii")
elif date == "no":
  print("oh no dadii")

you wanna give daddy a car?yes
ooo ye dadii

In [ ]:
# Declare two numbers in two variables
a, b, = 10, 20
#Copy value of a in min if a < b else copy b
if a>b:
  min=a
else:
  min=b
print('The minimum value is '+str(min))

The minimum value is 20

In [ ]:
snacks=["Mars", "Lays","Oreo"]# String list
snacks[0]="galaxy" #The first element is replaced with galaxy
print(snacks)#["Mars", "Lays","Oreo"]

['galaxy', 'Lays', 'Oreo']